<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Geolocation con Google API</title>
  <style>
    #map {
      height: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    window.addEventListener('load', function () {
      var map;
      var infowindow;
      navigator.geolocation.getCurrentPosition(function success(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        initialize(latitude, longitude);
      }, function error() {
        alert('No se pudo recuperar su ubicación, usando Argentina 😊');
        initialize(-34.6083, -58.3712);
      });

      function initialize(latitude, longitude) {
        var currentLocation = new google.maps.LatLng(latitude, longitude);
        map = new google.maps.Map(document.getElementById('map'), {
          center: currentLocation,
          zoom: 15
        });
        var request = {
          location: currentLocation,
          radius: 200,
          types: ['hospital',
            'health'] // this is where you set the map to get the hospitals and health related places
        };
        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);
      }

      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        google.maps.event.addListener(marker, 'click', function () {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    });
  </script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places">
  </script>
</body>

</html>